.container {
    text-align: center;
}
.toggle-switch {
    position: relative;
    width: 250px;
    display: inline-block;
    text-align: left;
}

.checkbox {
    display: none;
}
.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 15px;
    color: rgb(0, 0, 0);
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 45px;
    padding: 0;
    line-height: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: "Ethereum";
    background-color: #ccc;
    color: rgb(179, 179, 179);
    text-align: center;
}
.inner:after {
    content: "xDai";
    background-color: #ccc;
    color: rgb(179, 179, 179);
    text-align: center;
}
.switch {
    position: absolute;
    display: block;
    width: 125px;
    height: 39px;
    background: #fff;
    right: 125px;
    border: 3px solid #ccc;
    border-radius: 15px;
    transition: all 0.3s ease-in 0s;
    text-align: center;
    line-height: 39px;
    font-weight: bold;
}

.checkbox:checked + .label .inner {
    margin-left: 0px;
    color:#000;
}
.checkbox:checked + .label .switch {
    right: 0px;
    color:#000;
}