.content {
    width: 100%;
    background-color: #fff;
}

.network-account {
    text-align: right;
}

.centered {
    width: 585px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

/* Error */
.alert-error {
    width: 330px;
    height: 45px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    /* padding: 20px;   */
    color:rgb(216, 0, 0);
    line-height: 45px;
    background-color: hsla(0, 100%, 50%, 0.1);
    overflow: hidden;
    border-radius: 15px;
}

/* Spinning Donut Loader */
.loader {
    height: 100px;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/* Disclaimer Box */
.light-background {
    display: block;
    overflow: hidden;
    padding: 20px;
    background-color: rgba(255, 79, 196, 0.15);
    border-radius: 15px;
}

.disclaimer-title {
    font-size: larger;
    font-weight: bold;
}

.disclaimer-body {
    padding-top: 10px;
    line-height: 130%;
}


/* Popup */
.modal {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}

.modal-content { 
    width: 545px;
    background-color: #FFF;
    border-radius: 15px;
    padding: 20px;
}

.modal-header, .modal-footer {
    /* padding: 20px; */
}

.modal-title {
    font-size: larger;
    font-weight: bold;
    margin: 0;
}

.modal-body {
    line-height: 130%;
    border-top: 1px solid #eee;
}